<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tusuper: Tipos de Producto | Galape</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    <script src='main.js'></script>
</head>
<body>
    <section>
        <h1>Tipos de producto</h1>
        <div th:if="${productTypeList.size()==0}">
            <p>No hay tipos de producto cargados aun.</p>
        </div>
        <ul th:each="productType, i: ${productTypeList}">
            <li>
                <p>id: <span th:text="${productType.id}"></span> - Nombre: <span th:text="${productType.name}"></span> - Sub-categoria: <span th:text="${productType.subCategory.name}"></span></p>
            </li>
        </ul>
    </section>
    <section>
        <h2>Creando tipo de producto</h2>
        <form action="/tiposdeproducto/guardar" method="POST">
            <input type="text" name="name" id="" placeholder="Nombre del tipo de producto">
            <select name="subCategoryId" id="">
                <option value="0">Seleccionar sub-categoria</option>
                <option th:each="subCategory, i: ${subCategoryList}" th:value="${subCategory.id}" th:text="${subCategory.name}"></option>
            </select>
            <button type="submit">Guardar</button>
        </form>
    </section>
    <section>
        <div th:if="${error}">
            <h6>Error!</h6>
            <p th:text="${error}"></p>
        </div>
        <div th:if="${exito}">
            <h6>Exito!</h6>
            <p th:text="${exito}"></p>
        </div>
    </section>
    <section>
        <h2>Modificando tipo de producto</h2>
        <form action="/tiposdeproducto/modificar" method="POST">
            <select name="id" id="">
                <option value="0">Seleccionar tipo de producto</option>
                <option th:each="productType: ${productTypeList}" th:value="${productType.id}" th:text="${productType.name}"></option>
            </select>
            <input type="text" name="name" id="" placeholder="Nombre del tipo de producto">
            <select name="subCategoryId" id="">
                <option value="0">Seleccionar sub-categoria</option>
                <option th:each="subCategory: ${subCategoryList}" th:value="${subCategory.id}" th:text="${subCategory.name}"></option>
            </select>
            <button type="submit">Guardar</button>
        </form>
    </section>
    <section>
        <div th:if="${error2}">
            <h6>Error!</h6>
            <p th:text="${error2}"></p>
        </div>
        <div th:if="${exito2}">
            <h6>Exito!</h6>
            <p th:text="${exito2}"></p>
        </div>
    </section>
    <section>
        <h2>Eliminar tipo de producto</h2>
        <form action="/tiposdeproducto/eliminar" method="POST">
            <select name="id" id="">
                <option value="0">Seleccionar tipo de producto</option>
                <option th:each="productType: ${productTypeList}" th:value="${productType.id}" th:text="${productType.name}"></option>
            </select>
            <button type="submit">Eliminar</button>
        </form>
    </section>
    <section>
        <div th:if="${error3}">
            <h6>Error!</h6>
            <p th:text="${error3}"></p>
        </div>
        <div th:if="${exito3}">
            <h6>Exito!</h6>
            <p th:text="${exito3}"></p>
        </div>
    </section>
</body>
</html>