<header th:fragment="header">
    <div>
        <div>
            <!-- Enlazamos el logo -->
            <a th:href="@{/}">
                <img th:src="@{/img/default/logo_super.png}" alt="Logo de la empresa">
            </a>
        </div>
    </div>
    <div>
        <!-- Aquí podrías incluir un formulario de búsqueda -->
        <form th:action="@{/search}" method="POST">
            <input type="text" name="query" placeholder="Buscar...">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div>
        <!-- Enlazamos el carrito -->
        <a th:href="@{/cart}">
            <i class="fas fa-shopping-cart"></i>
        </a>
    </div>
</header>

