<nav id="nav" th:fragment="nav (categoryList)">
    <a id="nav-button-open" href="#"><i class="fa-solid fa-bars"></i> Menu</a>
    <a id="nav-button-close" href="#"><i class="fa-solid fa-xmark"></i></a>
    <ul class="category-container nav__links" th:each="category, i: ${categoryList}">
        <li>
            <a class="category" href="#" th:text="${category.name}"></a>
            <div class="subcategory-container">
                <ul th:each="subcategory, j: ${category.subCategories}">
                    <li>
                        <a href="#" th:text="${subcategory.name}"></a>
                        <div class="productType-container">
                            <ul th:each="productType, k: ${subcategory.productTypes}">
                                <li>
                                    <a th:href="@{/productos/__${productType.name}__}" th:text="${productType.name}"></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>