<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tusuper | Galape</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    <script src='main.js'></script>
</head>
<body>
    <section>
        <h1>Categorias</h1>
        <div th:if="${categoryList.size()==0}">
            <p>No hay categorias cargadas aun.</p>
        </div>
        <ul th:each="category, i: ${categoryList}">
            <li>
                <p>id: <span th:text="${category.id}"></span> - Nombre: <span th:text="${category.name}"></span></p>
                <div th:if="${category.subCategories.size() == 0}">
                    <p>No hay datos</p>
                </div>
                <div th:if="${category.subCategories.size() != 0}">
                    <p>Si hay Datos hay datos</p>
                </div>
                <ul th:each="subcategory, i: ${category.subCategories}">
                    <li>
                        <p>id: <span th:text="${subcategory.id}"></span> - Nombre: <span th:text="${subcategory.name}"></span></p>
                        <ul th:each="productType, j: ${subcategory.productTypes}">
                            <li>
                            <p>id: <span th:text="${productType.id}"></span> - Nombre: <span th:text="${productType.name}"></span></p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</body>
</html>