<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tusuper | Galape</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    <script src='main.js'></script>
</head>
<body>
    <header>header</header>
    <nav>
        <ul class="category-container" th:each="category, i: ${categoryList}">
            <li>
                <a class="category" href="" th:text="${category.name}"></a>
                <div class="subcategory-container">
                    <ul th:each="subcategory, j: ${category.subCategories}">
                        <li>
                            <a href="" th:text="${subcategory.name}"></a>
                            <div class="productType-container">
                                <ul th:each="productType, k: ${subcategory.productTypes}">
                                    <li>
                                        <a href="" th:text="${productType.name}"></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <main>
    </main>
    <footer>footer</footer>
</body>
</html>